.u-margin__margin--10px0 {
  margin: 10px 0;
}

.u-margin__margin--t50px {
  margin-top: 50px;
}

.u-margin__margin--r50px {
  margin-right: 50px;
}

.u-margin__padding--10px0 {
  padding: 10px 0;
}

.u-margin__padding--r16l16 {
  padding-right: 16px;
  padding-left: 16px;
}
