.u-position__relative {
  position: relative;
}

.u-position__absolute {
  position: absolute;
}

.u-position__top--0 {
  top: 0;
}

.u-position__absolute--right16px {
  right: 16px;
}

.u-position__absolute--right96px {
  right: 96px;
}

.u-position__flexbox {
  display: flex;
}

.u-position__flexbox--center {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.u-position__flexbox--column {
  flex-direction: column;
}

.u-position__float--left {
  float: left;
}

.u-position__z-index--100 {
  z-index: 100;
}
