.u-size__width--100per {
  width: 100%;
}

.u-size__height--100per {
  height: 100%;
}

.u-size__width--94per {
  width: 94%;
}

.u-size__max-width--85per {
  max-width: 85%;
}

.u-size__line-height--36px {
  line-height: 36px;
}
