.u-text__color-white {
  color: #fff;
}

.u-text__text-decoration-none {
  text-decoration: none;
}

.u-text__font-size--4em {
  font-size: 4em;
}

.u-text__text-align-center {
  text-align: center;
}
