.u-text__color-white {
  color: #fff;
}

.u-text__text-decoration-none {
  text-decoration: none;
}

.u-text__font-size--40em {
  font-size: 4.0em;
}

.u-text__font-size--35em {
  font-size: 3.5em;
}

.u-text__text-align-center {
  text-align: center;
}
